/*CSS Variables */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$body-bg: white;
$body-dark:black;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var($body-bg);
}

body {
  font-family: 'Poppins', sans-serif;
}

.text-color {
  color: rgba(23, 28, 33, 0.87);
}

.bg-section {
  background-color: #eeeeee;
  border-radius: 25px;
}

.three-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  display: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  display: none;
}