<app-navbar></app-navbar>
    

<div class="w-full h-5/6 bg-home bg-no-repeat bg-cover bg-center bg-fixed items-center justify-center">
    <div class="w-full h-full flex flex-col items-center justify-center">
        <h1 class="text-white sm:text-5xl text-2xl font-bold text-center">Antreman, Sağlıklı Beslenme Ve Daha İyi Bir Yaşam İçin
        </h1>
        <button *ngIf="!userLogged" routerLink="/register" class="mat-button mat-height mx-2 mt-5 w-80 text-xl" mat-raised-button color="warn">Kayıt Ol</button>
        <h1 class="text-white text-4xl mt-5 text-center">MyCoach</h1>
    </div>
</div>
<div class="wrapper">
<section class="flex-col w-full pt-10 pb-10 mt-10 mb-5 px-5 bg-section">
    <div class="sm:w-3/6 w-full sm:text-left text-center pb-5 pl-3">
        <h1 class="text-4xl font-semibold pb-4 text-color">MyCoach Nedir?</h1>
        <p class="text-xl text-color">MyCoach sizleri aradığınız kategorilerde onlarca koç ile buluşturan bir platformdur. Bu platformda a'dan z'ye kadar tüm kategorilerde ihtiyacınız olan koçu bulabilirsiniz.</p>
        <p class="py-3 font-bold text-red-500">Sende aramıza katıl! Hep birlikte daha büyük bir topluluk olalım.</p>
    </div>
    <swiper class="flex flex-row flex-nowrap mb-4 gap-2 cursor-pointer" [slidesPerView]="3" 
                [spaceBetween]="10" [navigation]="true" [scrollbar]="{ draggable: true }">
                <ng-template swiperSlide>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] w-full" alt="">
                </ng-template>
                <ng-template swiperSlide>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] w-full" alt="">
                </ng-template>
                <ng-template swiperSlide>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] w-full" alt="">
                </ng-template>
                <ng-template swiperSlide>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] w-full" alt="">
                </ng-template>
                <ng-template swiperSlide>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] w-full" alt="">
                </ng-template>
              
            </swiper>
</section>

<section class="flex flex-col md:flex-row  w-full pb-10 pt-10 mt-10 mb-5 items-center justify-center sm:px-40 px-0 bg-section">
    <div class="sm:w-2/5 w-full text-center ">
        <h1 class="sm:text-4xl text-xl  font-semibold pb-4 text-color">Hedeflerinize göre uyarlanmış egzersiz planları</h1>
        <p class="text-xl text-color">Kondisyon seviyeniz ne olursa o  lsun, Centr'in eğitmenleri hedeflerinize daha hızlı ulaşmanıza yardımcı olabilir. HIIT, güç,
        Pilates, yoga, kas geliştirme ve daha fazlasını içeren Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, illo?</p>
        <div class="buttons mt-5">
                <button (click)="changeImage='https://images.pexels.com/photos/4676423/pexels-photo-4676423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" mat-raised-button color="accent">Kilo Verme</button>
                <button mat-raised-button color="warn" (click)="changeImage='https://images.pexels.com/photos/1431282/pexels-photo-1431282.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">Kas Geliştirme</button>
                <button mat-raised-button color="primary" (click)="changeImage='https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600'" >Lorem, ipsum.</button>
        </div>
    </div>
    <div class="sm:w-2/5 w-full sm:pl-10 pl-0 sm:mt-0 mt-10">
        <img [src]="changeImage" class="sm:max-h-[45rem] w-full rounded-3xl" alt="">
    </div>
</section>

<section class="flex flex-col md:flex-row-reverse  w-full pb-10 pt-10 mt-10 mb-5 items-center justify-center sm:px-40 px-0 bg-section">
    <div class="sm:w-2/5 w-full text-center ">
        <h1 class="sm:text-4xl text-xl  font-semibold pb-4 text-color">Hedeflerinize göre uyarlanmış egzersiz planları</h1>
        <p class="text-xl text-color">Kondisyon seviyeniz ne olursa o  lsun, Centr'in eğitmenleri hedeflerinize daha hızlı ulaşmanıza yardımcı olabilir. HIIT, güç,
        Pilates, yoga, kas geliştirme ve daha fazlasını içeren Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, illo?</p>
      
    </div>
    <div class="sm:w-2/5 w-full sm:pr-10 pr-0 sm:mt-0 mt-10">
        <img [src]="changeImage" class="sm:max-h-[45rem] w-full rounded-3xl" alt="">
    </div>
</section>

<section class="flex flex-col md:flex-row-reverse  w-full pb-10 pt-10 mt-10 mb-5 items-center justify-center sm:px-40 px-0 bg-section">
    <div class="w-full text-center ">
        <h1 class="sm:text-4xl text-xl  font-semibold pb-4 text-color">Antrenörlerimiz!</h1>
        <p class="text-xl text-color">Birbirinden iyi koçlar Lorem ipsum dolor sit amet.</p>

    </div>


</section>
 



</div>



