<app-navbar></app-navbar>
<div class="w-full h-5/6 bg-home bg-no-repeat bg-cover bg-center bg-fixed items-center justify-center">
    <div class="w-full h-full flex flex-col items-center justify-center">
        <h1 class="text-white sm:text-5xl text-2xl font-bold text-center">Antreman, Sağlıklı Beslenme Ve Daha İyi Bir Yaşam İçin
        </h1>
        <button *ngIf="!userLogged" routerLink="/register" class="button-home mat-height mx-2 mt-5 w-80 text-xl hover:bg-white hover:text-red-600 duration-700 " color="warn">Kayıt Ol</button>
        <h1 class="text-white text-4xl mt-5 text-center font-bold">MyCoach</h1>
    </div>
</div>
<div class="wrapper">
<section class="flex-col w-full pt-10 pb-10 mt-10 mb-5 px-5 bg-section">
    <div class="sm:text-left text-center pb-5 pl-3">
        <h1 class="text-5xl font-bold pb-4 text-color">MyCoach Nedir?</h1>
        <p class="text-xl text-color font-semibold">MyCoach sizleri aradığınız kategorilerde onlarca koç ile buluşturan bir platformdur. Bu platformda a'dan z'ye kadar tüm kategorilerde ihtiyacınız olan koçu bulabilirsiniz.</p>
        <p class="py-3 text-lg font-semibold text-red-500">Sende aramıza katıl! Hep birlikte daha büyük bir topluluk olalım.</p>
    </div>
    <swiper class="flex flex-row flex-nowrap mb-4 gap-1 cursor-pointer" [config]="swiperConfig">
                <ng-template swiperSlide class="flex justify-center items-center">
                    <div class="absolute flex flex-col items-center">
                        <h1 class="text-4xl font-semibold text-center text-white">MyCoach</h1>
                        <p class="text-lg text-white font-semibold text-center">Hedeflerine ulaşmanda sana yardımcı olur.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/2468339/pexels-photo-2468339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="sm:max-h-[38rem] sm:min-h-[38rem] w-full rounded-3xl" alt="">
                </ng-template>
                <ng-template swiperSlide class="flex justify-center items-center">
                    <div class="absolute flex flex-col items-center">
                        <h1 class="text-4xl font-semibold text-center text-white">MyCoach</h1>
                        <p class="text-lg text-white font-semibold text-center">Profesyonel ve iyi koçlar</p>
                    </div>
                        <img src="https://images.pexels.com/photos/963697/pexels-photo-963697.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="sm:max-h-[38rem] sm:min-h-[38rem] w-full rounded-3xl" alt="">
                </ng-template>
                <ng-template swiperSlide class="flex justify-center items-center">
                    <div class="absolute flex flex-col items-center">
                        <h1 class="text-4xl font-semibold text-center text-white">MyCoach</h1>
                        <p class="text-lg text-white font-semibold text-center">Hedeflerine ulaşmanda sana yardımcı olur.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/1821694/pexels-photo-1821694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="sm:max-h-[38rem] sm:min-h-[38rem] w-full rounded-3xl" alt="">
                </ng-template>
                <ng-template swiperSlide class="flex justify-center items-center">
                    <div class="absolute flex flex-col items-center">
                        <h1 class="text-4xl font-semibold text-center text-white">MyCoach</h1>
                        <p class="text-lg text-white font-semibold text-center">Hedeflerine ulaşmanda sana yardımcı olur.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] sm:min-h-[38rem] w-full rounded-3xl" alt="">
                </ng-template>
                <ng-template swiperSlide class="flex justify-center items-center">
                    <div class="absolute flex flex-col items-center">
                        <h1 class="text-4xl font-semibold text-center text-white">MyCoach</h1>
                        <p class="text-lg text-white font-semibold text-center">Hedeflerine ulaşmanda sana yardımcı olur.</p>
                    </div>
                    <img src="https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600" class="sm:max-h-[38rem] sm:min-h-[38rem] w-full rounded-3xl" alt="">
                </ng-template>
            </swiper>
</section>

<section class="flex flex-col md:flex-row  w-full pb-10 pt-10 mt-10 mb-5 items-center justify-center sm:px-40 px-0 bg-section">
    <div class="sm:w-2/5 w-full text-center">
        <h1 class="sm:text-4xl text-xl font-bold pb-4 text-color">Hedeflerinize göre uyarlanmış egzersiz planları</h1>
        <p class="text-xl text-color">Kondisyon seviyeniz ne olursa olsun, eğitmenleri hedeflerinize daha hızlı ulaşmanıza yardımcı olabilir. HIIT, güç,
        Pilates, yoga, kas geliştirme ve daha fazlasını içeren Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, illo?</p>
        <div class="buttons mt-5">
                <button (click)="changeImage='https://images.pexels.com/photos/4676423/pexels-photo-4676423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" mat-raised-button color="accent">Kilo Verme</button>
                <button mat-raised-button color="warn" (click)="changeImage='https://images.pexels.com/photos/1431282/pexels-photo-1431282.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">Kas Geliştirme</button>
                <button mat-raised-button color="primary" (click)="changeImage='https://images.pexels.com/photos/4348638/pexels-photo-4348638.jpeg?auto=compress&cs=tinysrgb&w=1600'" >Lorem, ipsum.</button>
        </div>
    </div>
    <div class="sm:w-2/5 w-full sm:ml-20 ml-0 sm:mt-0 mt-10">
        <img [src]="changeImage" class="sm:max-h-[40rem] sm:min-h-[40rem] w-full border rounded-3xl" alt="">
    </div>
</section>

<section class="flex flex-col md:flex-row-reverse  w-full pb-10 pt-10 mt-10 mb-5 items-center justify-center sm:px-40 px-0 bg-section">
    <div class="sm:w-2/5 w-full text-center ">
        <h1 class="sm:text-4xl text-xl font-bold pb-4 text-color">Hedeflerinize göre hazırlanmış beslenme planları</h1>
        <p class="text-xl text-color text-left">Kondisyon seviyeniz ne olursa o  lsun, Centr'in eğitmenleri hedeflerinize daha hızlı ulaşmanıza yardımcı olabilir. HIIT, güç,
        Pilates, yoga, kas geliştirme ve daha fazlasını içeren Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, illo?</p>
    </div>
    <div class="sm:w-2/5 w-full sm:mr-20 mr-0 sm:mt-0 mt-10">
        <img src="https://images.pexels.com/photos/1821694/pexels-photo-1821694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="sm:max-h-[40rem] sm:min-h-[40rem] w-full border rounded-3xl" alt="">
    </div>
</section>

<!---Antrenörlerimiz Alanı-->
<section class="flex flex-col w-full pb-10 pt-10 mt-10 mb-5 items-center justify-center sm:px-40 px-0 bg-section">
    <div class="w-full flex-col items-center text-center ">
        <h1 class="sm:text-4xl text-xl font-bold pb-4 text-color">Antrenörlerimiz!</h1>
        <p class="text-xl text-color font-semibold">Birbirinden iyi antrenörler MyCoach'da Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, sed.</p>
    </div>

    <div class="flex flex-row items-center justify-center flex-wrap mt-5 pb-5 mb-5" (click)="test()">
 <!--Card 1-->
 <div class="p-1 cursor-pointer">  
    <div class="min-w-[17rem] max-w-[17rem] min-h-[25] max-h-[25rem] rounded overflow-hidden shadow-lg">
      <img class="w-full max-h-[25rem]" src="https://images.pexels.com/photos/6740347/pexels-photo-6740347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountain">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-color mb-2">Andrew Johnson</div>
        <p class="text-gray-700 text-base three-dots">
         7 yıldır boks anterenörü olarak çalışmaktayım, daha önce 3 defa Türkiye Şampiyonluğum var.
        </p>
        
        <div class="flex flex-row justify-between pt-5">
        <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              <img matChipAvatar src="https://e7.pngegg.com/pngimages/997/721/png-clipart-boxing-glove-kickboxing-ultimate-fighting-championship-boxing-sport-hand.png" alt="Photo of a Shiba Inu"/>
              <span>Boks</span>
            </mat-chip>
          </mat-chip-listbox>
          <button mat-raised-button color="warn">Keşfet</button>
        </div>

      </div>
    </div>
  </div>
<!--Card 1-->

 <!--Card 1-->
 <div class="p-1 cursor-pointer">  
    <div class="min-w-[17rem] max-w-[17rem] min-h-[25] max-h-[25rem] rounded overflow-hidden shadow-lg">
      <img class="w-full max-h-[25rem]" src="https://images.pexels.com/photos/6740347/pexels-photo-6740347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountain">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-color mb-2">Andrew Johnson</div>
        <p class="text-gray-700 text-base three-dots">
         7 yıldır boks anterenörü olarak çalışmaktayım, daha önce 3 defa Türkiye Şampiyonluğum var.
        </p>
        
        <div class="flex flex-row justify-between pt-5">
        <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              <img matChipAvatar src="https://e7.pngegg.com/pngimages/997/721/png-clipart-boxing-glove-kickboxing-ultimate-fighting-championship-boxing-sport-hand.png" alt="Photo of a Shiba Inu"/>
              <span>Boks</span>
            </mat-chip>
          </mat-chip-listbox>
          <button mat-raised-button color="warn">Keşfet</button>
        </div>

      </div>
    </div>
  </div>
<!--Card 1-->

 <!--Card 1-->
 <div class="p-1 cursor-pointer">  
    <div class="min-w-[17rem] max-w-[17rem] min-h-[25] max-h-[25rem] rounded overflow-hidden shadow-lg">
      <img class="w-full max-h-[25rem]" src="https://images.pexels.com/photos/6740347/pexels-photo-6740347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountain">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-color mb-2">Andrew Johnson</div>
        <p class="text-gray-700 text-base three-dots">
         7 yıldır boks anterenörü olarak çalışmaktayım, daha önce 3 defa Türkiye Şampiyonluğum var.
        </p>
        
        <div class="flex flex-row justify-between pt-5">
        <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              <img matChipAvatar src="https://e7.pngegg.com/pngimages/997/721/png-clipart-boxing-glove-kickboxing-ultimate-fighting-championship-boxing-sport-hand.png" alt="Photo of a Shiba Inu"/>
              <span>Boks</span>
            </mat-chip>
          </mat-chip-listbox>
          <button mat-raised-button color="warn">Keşfet</button>
        </div>

      </div>
    </div>
  </div>
<!--Card 1-->

 <!--Card 1-->
 <div class="p-1 cursor-pointer">  
    <div class="min-w-[17rem] max-w-[17rem] min-h-[25] max-h-[25rem] rounded overflow-hidden shadow-lg">
      <img class="w-full max-h-[25rem]" src="https://images.pexels.com/photos/6740347/pexels-photo-6740347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountain">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-color mb-2">Andrew Johnson</div>
        <p class="text-gray-700 text-base three-dots">
         7 yıldır boks anterenörü olarak çalışmaktayım, daha önce 3 defa Türkiye Şampiyonluğum var.
        </p>
        
        <div class="flex flex-row justify-between pt-5">
        <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              <img matChipAvatar src="https://e7.pngegg.com/pngimages/997/721/png-clipart-boxing-glove-kickboxing-ultimate-fighting-championship-boxing-sport-hand.png" alt="Photo of a Shiba Inu"/>
              <span>Boks</span>
            </mat-chip>
          </mat-chip-listbox>
          <button mat-raised-button color="warn">
            Keşfet</button>
        </div>

      </div>
    </div>
  </div>
<!--Card 1-->
    </div>
    <div class="w-full flex justify-center">
        <button mat-raised-button color="warn" routerLink="/coachs">Daha Fazla Göster</button>
    </div>

</section>

<section class="flex-col w-full pb-10 pt-10 mb-5 items-center justify-center bg-section">
    <div class="text-center">
        <h1 class="text-3xl font-semibold text-color">MyCoach İle Yepyeni Bir Başlangıç</h1>
            <p routerLink="contact" class="py-3  font-bold text-red-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus pariatur harum repudiandae quisquam tenetur consequatur!</p>
    </div>
    <div class="text-center">
        <button *ngIf="!userLogged" routerLink="/register" class="button-home mat-height mx-2 mt-5 w-80 text-xl hover:bg-white hover:text-red-600 duration-700" mat-raised-button color="warn">Kayıt Ol</button>
        <button *ngIf="userLogged" routerLink="/coachs" class="mat-button mat-height mx-2 mt-5 w-80 text-xl" mat-raised-button color="warn">Koçlarımız</button>

    </div>
</section>

<!---blogs-->
<section class="w-full flex flex-col pb-10 pt-10 mb-5 items-center justify-between bg-section">
    <div class="text-center py-7">
        <h1 class="text-3xl font-bold text-color">MyCoach Bloglar</h1>
    </div>
    <div class="blogs flex flex-col md:flex-row justify-center items-center w-full mx-5 ">
        <!---Card-->
    <div class="max-w-sm bg-white rounded-lg mx-5 hover:scale-110 transition-all">
    <a >
        <img class="rounded-t-lg w-full min-w-[13rem] max-h-[17rem]" src="https://images.pexels.com/photos/2740844/pexels-photo-2740844.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
    </a>
    <div class="p-5">
        <a >
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-color dark:text-white">Nasıl Antremandan Daha İyi Verim Alırım?</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aut iure dignissimos inventore doloribus error.</p>
        <a class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-white hover:text-black transition-all focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Oku
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
    </div>
        <!---Card-->
        <!---Card-->
    <div class="max-w-sm bg-white rounded-lg mx-5 hover:scale-110 transition-all">
        <a >
            <img class="rounded-t-lg w-full min-w-[13rem] max-h-[17rem]" src="https://images.pexels.com/photos/2740844/pexels-photo-2740844.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
        </a>
        <div class="p-5">
            <a >
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-color dark:text-white">Nasıl Antremandan Daha İyi Verim Alırım?</h5>
            </a>
            <p class="cursor-pointer mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aut iure dignissimos inventore doloribus error.</p>
            <a  class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-white hover:text-black transition-all focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Oku
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        </div>
        <!---Card-->
    <div class="max-w-sm bg-white rounded-lg mx-5 hover:scale-110 transition-all">
        <a >
            <img class="rounded-t-lg w-full min-w-[13rem] max-h-[17rem]" src="https://images.pexels.com/photos/2740844/pexels-photo-2740844.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
        </a>
        <div class="p-5">
            <a >
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-color dark:text-white">Nasıl Antremandan Daha İyi Verim Alırım?</h5>
            </a>
            <p class="cursor-pointer mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aut iure dignissimos inventore doloribus error.</p>
            <a  class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-white hover:text-black transition-all focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Oku
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        </div>
            <!---Card-->
        </div>
        <div class="w-full flex justify-center mt-8">
            <button mat-raised-button color="warn" routerLink="/coachs">Daha Fazla Göster</button>
        </div>
   

</section>
<!---blogs-->

<app-footer></app-footer>
</div>
<!---Wrapper Bitiş-->




