<app-navbar></app-navbar>
<app-coachprofile *ngIf="coachPage"></app-coachprofile>
<div *ngIf="profilePage">
    <div class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200"
    id="panel">
    <div class="w-full flex items-center justify-center">
        <app-loading *ngIf="loading"></app-loading>
    </div>
        <div class="w-full px-6 py-6 mx-auto  text-slate-500">
            <div class="relative flex flex-col flex-auto min-w-0 p-4 overflow-hidden break-words border-0 shadow-blur rounded-2xl  bg-clip-border mb-4"
                [class]="bgColor">
                <div class="absolute right-24">
                    <button mat-raised-button (click)="openEdit(template)">Profili Düzenle</button>
                    <!--Edit Profile Dialog Start-->
                    <ng-template #template>
                        <div class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200"
                            id="panel">
                            <div class="w-full px-6 pt-6 pb-2 mx-auto  text-slate-500">
                                <div class="relative flex flex-col flex-auto min-w-0 p-4 overflow-hidden break-words border-0 shadow-blur  rounded-2xl  bg-clip-border mb-4"
                                    [class]="bgColor">
                                    <div class="flex flex-wrap -mx-3 py-5 px-5 relative">
                                        <div class="flex-none w-auto max-w-full ">
                                            <div
                                                class="text-size-base ease-soft-in-out h-18.5 w-18.5  inline-flex items-center justify-center rounded-xl relative text-white transition-all duration-200">
                                                <img [src]="image" alt="profile_image"
                                                    class=" w-full shadow-soft-sm rounded-xl" style="max-width: 100px;">
                                                <div class="image-upload absolute">
                                                    <label for="file-input">
                                                        <mat-icon>upload</mat-icon>
                                                    </label>
                                                    <input id="file-input" type="file" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-none text-white w-auto max-w-full px-3 my-auto">
                                            <div class="h-full">
                                                <h5 class="mb-1 text-lg select-none">{{username +" " + surname}}</h5>
                                                <p class="mb-0 font-semibold leading-normal text-lg select-none">MyCoach
                                                    Üyesi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Renk butonları-->
                        <div class="px-5">
                            <h1 class="text-xl mb-3 font-semibold text-color">Arka Plan Rengini Değiştir</h1>
                            <button class="inline-flex items-center mx-2 px-4 py-2 text-white rounded-xl bg-slate-400" (click)="changeBg('bg-slate-400')">Klasik</button>
                            <button class="inline-flex items-center mx-2 px-4 py-2 text-white rounded-xl bg-black" (click)="changeBg('bg-black')">Siyah</button>
                            <button class="inline-flex items-center mx-2 px-4 py-2 text-white rounded-xl bg-red-300" (click)="changeBg('bg-red-300')">Kırmızı</button>
                            <button class="inline-flex items-center mx-2 px-4 py-2 text-white rounded-xl bg-blue-400" (click)="changeBg('bg-blue-400')">Mavi</button>
                            <button class="inline-flex items-center mx-2 px-4 py-2 text-white rounded-xl bg-gray-500" (click)="changeBg('bg-gray-500')">Gri</button>
                            <button class="inline-flex items-center mx-2 px-4 py-2 text-white rounded-xl bg-orange-400" (click)="changeBg('bg-orange-400')">Turuncu</button>
                        </div>
                        <div class="flex justify-center items-center mt-3 pb-5">
                            <button mat-raised-button color="primary" class="mx-5" (click)="saveBg()">Kaydet</button>
                            <button mat-raised-button color="warn" (click)="closeEdit()">Vazgeç</button>
                        </div>
                    </ng-template>
                    <!--Edit Profile Dialog Orgin End-->
                </div>
                <div class="flex flex-wrap -mx-3">
                    <div class="flex-none w-auto max-w-full px-3">
                        <div
                            class="text-size-base ease-soft-in-out h-18.5 w-18.5 relative inline-flex items-center justify-center rounded-xl text-white transition-all duration-200">
                            <img [src]="image" alt="profile_image" class="max-w-xs w-full shadow-soft-sm rounded-xl">
                        </div>
                    </div>
                    <div class="flex-none text-white w-auto max-w-full px-3 my-auto">
                        <div class="h-full">
                            <h5 class="mb-1 text-2xl select-none">{{username +" " + surname}}</h5>
                            <p class="mb-0 font-semibold leading-normal text-lg select-none">MyCoach Üyesi</p>

                        </div>
                    </div>
                </div>
            </div>
            <!--Profile End-->
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Bilgiler">
                    <div class="w-full p-3 mt-6 mx-auto removable overflow-hidden">
                        <div class="flex flex-wrap -mx-3">
                            <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-4/12 mb-4">
                                <div
                                    class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                                    <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                                        <div class="flex flex-wrap -mx-3">
                                            <div
                                                class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                                                <h6 class="mb-0">Profil Bilgileri</h6>
                                            </div>
                                            <div
                                                class="w-full max-w-full px-3 text-right shrink-0 md:w-4/12 md:flex-none">
                                                <a href="javascript:;" data-target="tooltip_trigger"
                                                    data-placement="top">
                                                    <i class="leading-normal fas fa-user-edit text-size-sm text-slate-400"
                                                        aria-hidden="true"></i>
                                                </a>
                                                <div data-target="tooltip"
                                                    class="px-2 py-1 text-center text-white bg-black rounded-lg text-size-sm hidden"
                                                    role="tooltip" data-popper-placement="top"
                                                    style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(869.5px, -417.5px, 0px);">
                                                    Edit Profile
                                                    <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']"
                                                        data-popper-arrow=""
                                                        style="position: absolute; left: 0px; transform: translate3d(0px, 0px, 0px);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-auto p-4">
                                        <div class="flex items-center">
                                            <p class="leading-normal text-size-sm">{{textUser}}</p>
                                               
                                        </div>
                                        <hr class="h-px my-6 bg-transparent bg-gradient-horizontal-light">
                                        <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                                            <li
                                                class="relative block px-4 py-2 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                                                <p class="text-slate-700 sm:text-base text-sm font-bold">Ad Soyad :
                                                    <span class="font-normal">{{username +" "+surname}}</span>
                                                </p>
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pl-0 leading-normal flex-row justify-center items-center  bg-white border-0 border-t-0 text-size-sm text-inherit">
                                                <p class="text-slate-700 sm:text-base text-sm font-bold">E-Posta : <span
                                                        class="font-normal">{{email}}</span></p>

                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit">
                                                <p class="text-slate-700 sm:text-base text-sm font-bold">Şehir :
                                                    <span class="font-normal">{{city}}</span>
                                                </p>
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit">
                                                <p class="text-slate-700 sm:text-base text-sm font-bold">Mobile :
                                                    <span class="font-normal">{{userPhone}}</span>
                                                </p>
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                                                <p class="text-slate-700 sm:text-base text-sm font-bold">Yaşınız :
                                                    <span class="font-normal">{{userAge}}</span>
                                                </p>
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pb-0 pl-0 bg-white border-0 border-t-0 rounded-b-lg text-inherit">
                                                <strong class="leading-normal text-size-sm text-slate-700">İlgi
                                                    Alanları:</strong> <span>{{userInterests}}</span>
                                            </li>
                                            
                                   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-4/12 mb-4">
                                <div
                                    class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                                    <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                                        <h6 class="mb-0">Programlarım</h6>
                                        <a routerLink="/programs"
                                            class="inline-block py-3 pl-0 pr-4 mb-0 ml-auto font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in hover:scale-102 hover:active:scale-102 active:opacity-85 text-fuchsia-500 hover:text-fuchsia-800 hover:shadow-none active:scale-100">Tüm
                                            Programları Görüntüle</a>
                                    </div>
                                
                                    <mat-tab-group>
                                        <mat-tab label="Programlarım">
                                            <div class="flex-auto p-4">
                                                <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                                                    <li
                                                        class="relative flex items-center px-0 py-2 mb-2 bg-white border-0 rounded-t-lg text-inherit">
                                                        <div
                                                            class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-size-base ease-soft-in-out rounded-xl">
                                                            <img [src]="image" alt="kal"
                                                                class="w-full shadow-soft-2xl rounded-xl">
                                                        </div>
                                                        <div class="flex flex-col items-start justify-center">
                                                            <h6 class="mb-0 leading-normal text-size-sm">Miraç Doğan
                                                            </h6>
                                                            <p class="mb-0 leading-tight text-size-xs">Basket Programı!
                                                            </p>
                                                        </div>
                                                        <a
                                                            class="inline-block py-3 pl-0 pr-4 mb-0 ml-auto font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in hover:scale-102 hover:active:scale-102 active:opacity-85 text-fuchsia-500 hover:text-fuchsia-800 hover:shadow-none active:scale-100">Görüntüle</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-tab>
                                       
                                        <!--Mesajlarım Tab-->
                                        <mat-tab label="Mesajlarım"> Çok Yakında
                                            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                                                <li
                                                    class="relative flex items-center px-0 py-2 mb-2 bg-white border-0 rounded-t-lg text-inherit">
                                                    <div
                                                        class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-size-base ease-soft-in-out rounded-xl">
                                                        <img [src]="image" alt="kal"
                                                            class="w-full shadow-soft-2xl rounded-xl">
                                                    </div>
                                                    <div class="flex flex-col items-start justify-center">
                                                        <h6 class="mb-0 leading-normal text-size-sm">Miraç Doğan
                                                        </h6>
                                                        <p class="mb-0 leading-tight text-size-xs">Naber?
                                                        </p>
                                                    </div>
                                                    <a class="inline-block py-3 pl-0 pr-4 mb-0 ml-auto font-bold text-center uppercase
                                                     align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer
                                                      leading-pro text-size-xs ease-soft-in hover:scale-102 hover:active:scale-102 active:opacity-85
                                                       text-fuchsia-500 hover:text-fuchsia-800 hover:shadow-none active:scale-100">Mesajı Görüntüle</a>
                                                </li>
                                            </ul>
                                            
                                        </mat-tab>
                                        <!--Mesajlarım Tab-->

                                        <mat-tab label="Hedeflerim"> 
                                            <div class="flex flex-row items-center justify-start pt-3" (click)="newTarget()">
                                                <mat-label>Yeni Hedef Ekle</mat-label>
                                                <mat-icon>add</mat-icon>
                                            </div>
                                            <mat-label>İşte Tüm Hedeflerini Ekleyebileceğin Bir alan</mat-label>
                                            <!---Bu alanda Hedefler Eklenecek-->

                                            </mat-tab>

                                    </mat-tab-group>

                                </div>
                            </div>

                        </div>

                    </div>
                </mat-tab>
                <!--Tab 1 End-->
                <mat-tab label="Ayarlar">
                    <div class="w-full p-3 mt-6 mx-auto removable">
                        <div class="flex flex-wrap -mx-3">
                            <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-4/12 mb-4">
                                <div
                                    class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                                    <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                                        <div class="flex flex-wrap -mx-3">
                                            <div
                                                class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                                                <h6 class="mb-0">Profil Ayarları</h6>
                                            </div>
                                            <mat-icon class="relative sm:ml-0 ml-2" matTooltip="Bilgilerimi Gizle"
                                                (click)="hideInfos()">{{visibilityIcon}}</mat-icon>
                                            <div
                                                class="w-full max-w-full px-3 text-right shrink-0 md:w-4/12 md:flex-none">
                                                <a href="javascript:;" data-target="tooltip_trigger"
                                                    data-placement="top">
                                                    <i class="leading-normal fas fa-user-edit text-size-sm text-slate-400"
                                                        aria-hidden="true"></i>
                                                </a>
                                                <div data-target="tooltip"
                                                    class="px-2 py-1 text-center text-white bg-black rounded-lg text-size-sm hidden"
                                                    role="tooltip" data-popper-placement="top"
                                                    style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(869.5px, -417.5px, 0px);">
                                                    Edit Profile
                                                    <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']"
                                                        data-popper-arrow=""
                                                        style="position: absolute; left: 0px; transform: translate3d(0px, 0px, 0px);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-auto p-2" *ngIf="!hideMyData">
                                        <div class="pt-2">
                                            <button mat-raised-button matTooltip="Profil Ayarlarını Düzenle" (click)="editProfile(id,username,surname,password,email,statusUser,image,userAge,city,textUser,userPhone,userInterests)">Düzenle</button>
                                        </div>
                                        <hr class="h-px my-6 bg-transparent bg-gradient-horizontal-light">
                                    
                                        <ul class="flex flex-col pl-0 mb-0 rounded-lg">

                                            <li
                                                class="relative block px-4 py-2 pl-0 leading-normal flex-row justify-center items-center  bg-white border-0 border-t-0 text-size-sm text-inherit">
                                                <strong class="text-slate-700">E-Posta :</strong>
                                                <p>{{email}}</p>
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit">
                                                <strong class="text-slate-700">Şehir :</strong>
                                                <p>{{city}}</p>
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit">
                                                <strong class="text-slate-700">Mobile :</strong>
                                                <p>{{userPhone}}</p>

                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit">
                                                <strong class="text-slate-700">Yaşınız : </strong> {{userAge}}
                                            </li>
                                            <li
                                                class="relative block px-4 py-2 pb-0 pl-0 bg-white border-0 border-t-0 rounded-b-lg text-inherit">
                                                <strong class="leading-normal text-size-sm text-slate-700">İlgi
                                                    Alanları:</strong>
                                                    <p>{{userInterests}}</p>
                                               
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-4/12 mb-4">
                                <div
                                    class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                                    <div class="p-6 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                                        <h6 class="mb-3">Uygulama Ayarları</h6>
                                        <hr class="h-px my-6 bg-transparent bg-gradient-horizontal-light mt-16">
                                    </div>
                                    <div class="flex-auto p-4">
                                        <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                                             <li>
                                                <h1>Tema</h1>
                                                <mat-button-toggle-group (change)="darkMode()" [formControl]="fontStyleControl" name="fontStyle" aria-label="Font Style">
                                                    <mat-button-toggle value="white">Aydınlık</mat-button-toggle>
                                                    <mat-button-toggle value="dark">Karanlık</mat-button-toggle>
                                                </mat-button-toggle-group>
                                            </li> 
                                            <li class="mt-5">
                                                <h1>Otomatik Çıkış Yap</h1>
                                                <form [formGroup]="checkActive">
                                                    <mat-slide-toggle
                                                        matTooltip="Uygulamadan 30 dakika sonra otomatik çıkış yapar."
                                                        [disabled]="checkActive.valid" (change)="activeAutoLogout()"
                                                        formControlName="autoCheck">{{autoActive}}</mat-slide-toggle>
                                                </form>
                                            </li>
                                            <li class="mt-5">
                                                <h1>Tüm Ayarları Sıfırla</h1>
                                                    <button mat-raised-button color="warn" (click)="resetSettings()">Sıfırla</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!--Fotoğraflarım-->
                <mat-tab label="Fotoğraflarım">
                    <div class="flex justify-center items-center">
                        <div class="image-upload flex flex-col items-center justify-center cursor-pointer">
                            <label class="cursor-pointer" for="file-input">
                                <mat-icon>upload</mat-icon>
                            </label>
                            <input id="file-input" type="file" />
                            <mat-label>Fotoğraf Yükle</mat-label>
                        </div>
                    </div>
                    <div class="w-full h-full mx-auto flex flex-row flex-wrap  mt-5 overflow-hidden">
                        <ng-template  #preview>
                            <div class="flex flex-col justify-center items-center">
                                <h1>{{username+''+surname}} Fotoğrafları</h1>
                                <img class="w-1/2" [src]="previewPhoto"  alt="">
                            </div>
                        </ng-template>
                        <div class="w-96 mx-2 rounded">
                            <img class="max-w-[19rem] max-h-[19rem] min-h-[19rem] min-w-[19rem]" (click)="showPhoto(preview,$event.target)" src="https://t4.ftcdn.net/jpg/02/11/41/89/240_F_211418972_I4iGCanc9kOK5Bdaf6ZOPDhlEHBdApYJ.jpg"
                                alt="image">
                        </div>
                        <div class="w-96 mx-2 rounded">
                            <img class="max-w-[19rem] max-h-[19rem] min-h-[19rem] min-w-[19rem]" (click)="showPhoto(preview,$event.target)" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
                                alt="image">
                        </div>
                        <div class="w-96 mx-2 rounded">
                            <img class="max-w-[19rem] max-h-[19rem] min-h-[19rem] min-w-[19rem]" (click)="showPhoto(preview,$event.target)" src="https://media.istockphoto.com/id/1025855432/photo/daylight-portrait-of-young-handsome-caucasian-man-isolated-on-grey-background-dressed-in.jpg?s=612x612&w=0&k=20&c=zvQW-kWUHtgY360LhcTi42yXqbtAzXEPU-jlSV3xAL8="
                                alt="image">
                        </div>
                        <div class="w-96 mx-2 rounded">
                            <img class="max-w-[19rem] max-h-[19rem] min-h-[19rem] min-w-[19rem]" (click)="showPhoto(preview,$event.target)" src="https://media.istockphoto.com/id/1025855432/photo/daylight-portrait-of-young-handsome-caucasian-man-isolated-on-grey-background-dressed-in.jpg?s=612x612&w=0&k=20&c=zvQW-kWUHtgY360LhcTi42yXqbtAzXEPU-jlSV3xAL8="
                                alt="image">
                        </div>
                    </div>
                </mat-tab>
                <!--Fotoğraflarım-->
                <mat-tab label="Videolarım">
                    <!-- component -->
                <div>
                    <div class="image-upload flex flex-col items-center justify-center cursor-pointer">
                        <label class="cursor-pointer" for="file-input">
                            <mat-icon>upload</mat-icon>
                        </label>
                        <input id="file-input" type="file" />
                        <mat-label>Video Yükle</mat-label>
                    </div>
        <div class='flex max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto'>
        <div class="flex flex-col m-5 ">
            <div class="relative">
        <video class="w-screen ">
			<source class="w-30 h-30" src='https://www.w3schools.com/html/mov_bbb.mp4' type='video/mp4'>
        </video>
         <div class="absolute bottom-0 w-full bg-gradient-to-r from-black">
            <span class="text-white text-xs capitalize px-2">
                {{username}}
            </span>
        </div>
            </div>
        <div>
            <div>
        <div class="relative h-1 bg-gray-200">
        <div class="absolute h-full w-1/2 bg-red-400 flex items-center justify-end">
          <div class="rounded-full w-3 h-3 bg-white shadow"></div>
        </div>
        </div>
        </div>
    <div class="flex justify-between text-xs font-medium text-gray-500 py-1">
      <div>
        1:50
      </div>
      <div class="flex space-x-3 pt-5">
        <button class="focus:outline-none">
          <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="#10b981" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="19 20 9 12 19 4 19 20"></polygon><line x1="5" y1="19" x2="5" y2="5"></line></svg>
        </button>
        <button class="rounded-full w-8 h-8 flex items-center justify-center pl-0.5 ring-2 to-red-400 focus:outline-none">
          <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="#10b981" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
        </button>
        <button class="focus:outline-none ">
          <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="#10b981" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 4 15 12 5 20 5 4"></polygon><line x1="19" y1="5" x2="19" y2="19"></line></svg>
        </button>
      </div>
      <div>
        3:00
      </div>
    </div>
        </div>
        </div>
    </div>
</div>

                </mat-tab>
                <!---Videolarım-->
            </mat-tab-group>
        </div>
        <div>
        </div>
    </div>



