
<footer class="p-4 mt-16 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">MyCoach™ </a>Tüm hakları gizlidir.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a routerLink="about" max-w-sm bg-white rounded-lg mx-5 class="mr-4 hover:underline md:mr-6 ">Hakkımızda</a>
        </li>
        <li>
            <a routerLink="privacy" max-w-sm bg-white rounded-lg mx-5 class="mr-4 hover:underline md:mr-6">Gizlilik Politikası</a>
        </li>
        <li>
            <a routerLink="coachs" max-w-sm bg-white rounded-lg mx-5 class="mr-4 hover:underline md:mr-6">Koçlarımız</a>
        </li>
        <li>
            <a routerLink="contact" max-w-sm bg-white rounded-lg mx-5 class="hover:underline">İletişim</a>
        </li>
    </ul>
</footer>
