<div class="w-full py-10 px-10 flex-col" [formGroup]="Form">
    <div class="flex flex-col justify-center">
        <h1 class="text-xl font-semibold text-color mb-5">Profil Bilgilerini Düzenle</h1>
        <mat-form-field appearance="fill">
            <mat-label>Hakkında</mat-label>
            <input formControlName="textUser" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>İletişim</mat-label>
            <input formControlName="userPhone" type="text" matTooltip="Lütfen Başına 0 Yazmayın" mask='(000) 000-0000'
                matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Şehir</mat-label>
            <input formControlName="city" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Yaşınız</mat-label>
            <input formControlName="age" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>İlgi Alanlarınız</mat-label>
            <input formControlName="userInterests" matInput>
        </mat-form-field>
        <button (click)="saveDialog()" [disabled]="Form?.invalid" mat-raised-button color="warn">Kaydet</button>
    </div>
    <div>
    </div>