<div class="w-full py-10 px-10 flex-col" [formGroup]="Form">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Hakkında</mat-label>
            <input formControlName="textUser" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>İletişim</mat-label>
            <input formControlName="userPhone" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Şehir</mat-label>
            <input formControlName="city" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Yaşınız</mat-label>
            <input formControlName="age" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>İlgi Alanlarınız</mat-label>
            <input formControlName="userInterests" matInput>
        </mat-form-field>

    </div>
    <div>
    <button (click)="saveDialog()" [disabled]="Form?.invalid" mat-raised-button color="primary">save</button>
    

</div>