.navbar-logo {
    position: relative;
    width: 26px;
    top: 1.23rem;
}

header a {
    color: white;
}

header a:hover {
    cursor: pointer;
    color: gray;
    transition: 1s;
}

/* header */
.header {
    background-color: #080a0c;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    width: 100%;
    z-index: 3;
    height: 65px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--header-bg);
}

.header li a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
}


.header .logo {
    color: white !important;
    display: block;
    float: left;
    font-size: 1.5em;
    font-weight: 500;
    padding: 14px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 31px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 480px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        padding: 0 1rem;
    }

    .header .menu-icon {
        display: none;
    }
}

a {
    text-decoration: none;
    color: none;
}


@media screen and (max-width: 600px) {


    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}


.mat-icon {
    color: white;
    fill: white;
    width: 43px;
    font-size: 28px;
    padding: 0;
    margin: 0 5px;
  }